.upper {
    float:left;
    border: 1px solid black;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.fiftyfifty{
    border: 1px solid black;
    flex-grow: 1;
}

.thirds{
    border: 1px solid black; 
    flex-grow: 1;
}

.lines{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
}

.singles{
    border: 1px solid white;
    flex-grow: 1;
    float: left;
}

.bottom{
    border: 1px solid black;
    flex-grow: 1;
    float: left;
}

#main{
    border: 20px solid #003300;
    position: absolute;
    display: flex;
    flex-direction: row;
    background: #00cc00;
    color: #ffffff;
    text-align: center;
}


#inside {
    float:left;
    border: 1px solid black;
    flex-grow: 6;
}
